<div
  class="product-detail w-1/2 container mx-auto p-6 bg-white rounded-lg shadow-md flex flex-row gap-8"
  *ngIf="product"
>
  <img
    [src]="product.images"
    alt="{{ product.title }}"
    class="product-image w-72 h-72 object-cover rounded-lg"
  />
  <div class="flex flex-col justify-between">
    <div>
      <h2 class="text-2xl font-bold mb-4">{{ product.title }}</h2>
      <div>
        <p class="text-gray-700 mb-4">{{ product.description }}</p>
        <p class="product-price text-xl font-semibold text-gray-900 mb-4">
          Price: ${{ product.price }}
        </p>
      </div>
    </div>
    <button
      class="w-1/2 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300 ease-in-out"
      (click)="addToCart()"
    >
      Add to Cart
    </button>
  </div>
</div>
