<div class="flex justify-center">
  <div class="order-summary shadow-lg w-1/4">
    <div class="bg-slate-700 text-slate-200 rounded-t-lg py-8 text-center">
      <h2 class="font-bold">Order Summary</h2>
    </div>
    <div class="p-4 bg-gray-200 rounded-b-lg">
      <table class="w-full mb-4 border border-gray-400">
        <tbody>
          <tr class="border-b border-gray-400">
            <td class="font-semibold p-2 border border-slate-300 w-1/2 text-slate-700">Name</td>
            <td class="p-2 border border-slate-300 text-slate-700">{{ orderData.name }}</td>
          </tr>
          <tr class="border-b border-gray-400">
            <td class="font-semibold p-2 border border-slate-300 w-1/2 text-slate-700">Address</td>
            <td class="p-2 border border-slate-300 text-slate-700">{{ orderData.address }}</td>
          </tr>
          <tr class="border-b border-gray-400">
            <td class="font-semibold p-2 border border-slate-300 w-1/2 text-slate-700">Payment Method</td>
            <td class="p-2 border border-slate-300 text-slate-700">{{ orderData.paymentDetails }}</td>
          </tr>
          <tr>
            <td class="font-semibold p-2 border border-slate-300 w-1/2 text-slate-700">Total Amount</td>
            <td class="p-2 border border-slate-300 text-slate-700">${{ orderData.totalAmount }}</td>
          </tr>
        </tbody>
      </table>
      <ul class="space-y-4">
        <li *ngFor="let item of orderData.products" class="flex items-center border border-slate-300 rounded p-4 bg-slate-700">
          <img [src]="item.product.images" alt="{{ item.product.title }}" class="w-24 h-24 rounded object-cover text-slate-200">
          <div class="ml-4 text-slate-200">
            <p class="font-medium text-lg">{{ item.product.title }}</p>
            <p class="text-gray-200">
              <span class="border-r-2 border-slate-400 pr-3">Price: ${{ item.product.price }}</span>
              <span class="px-3">Quantity: {{ item.quantity }}</span>
            </p>
          </div>
        </li>
      </ul>
      <button (click)="handleOkClick()" class="mt-6 bg-slate-600 w-full text-slate-200 py-2 px-4 rounded hover:bg-slate-800">
        Confirm
      </button>
    </div>
  </div>
</div>
